<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        img{
            height: 200px;
            width: 350px;
            margin: 100px 600px;
        }
        div{
            font-size: 50px;
            color: white;
            text-align: center;
            margin: -50px 200px;
        }
    </style>
</head>
<body style="background-color: #1b4332;" >
    <img src="../../public/images/mcdonalds-logo.png" alt="">
    <div>Your Order will be sent to Kitchen after you have completed Payment.</div>
    
</body>
</html>
